#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.card-wrapper {
  display: flex;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr)); /* Responsive columns */
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}



hr {
  position: -20px;
  border-radius: 2px;
  border: none;
  background-color: rgb(67, 230, 216);
  height: 4px;
  width: 80em;
  margin: 8px auto;
}
